*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.App {

}

.UserCardContainer{
  display: flex;
  margin: 20px;
  flex-direction: column;
  border:1px solid black;
  border-radius:10px ;
  width: 300px; 
  background: #24283C;
  padding: 10px;
}
.Header{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  
}
.SubHeader{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.SubHeaderInfo  {
  display: flex;
  margin-top: 5px; 
}
.Name{
  color:white;
}
.Email,.UserName {
color: gray;
margin-left: 2px;
}
.accountImage{
width: 60px;
height: 60px;
display: flex;
}
.PostsButton{
  align-self: flex-end;
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}